.sticky-header {
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  div{
    justify-content: center;
    button {
      box-shadow: none;
    }
  }
}